<!doctype html>
<html>
<head>
	<title>Parcel Demo</title>
</head>
<body>
<script src="./main.js"></script>
<script src="./js/index.js" type="module"></script>
<script src="js/api.js" type="module"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin></script>

<div id="app">
	<div class="row">
		<div class="col-md-4 mb-4 order-md-2">
			<div v-if="!isAuthenticated">
				<h4 class="align-items-center d-flex justify-content-between mb-3">
					<span class="text-muted">Login</span>
				</h4>
				<div class="mb-3" v-if="!user.waitingForOTP">
					<div class="input-group">
						<input type="tel" class="form-control" placeholder="Mobile Number" v-model.trim="mobile"
							   v-on:keyup.enter="sendOTP()">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary" v-on:click="sendOTP()">Send OTP</button>
						</div>
					</div>
				</div>
				<div class="mb-3" v-if="sendOTPError">
					<div class="alert alert-danger" role="alert">
						<small>{{ sendOTPError }}</small>
					</div>
				</div>
				<div class="mb-3" v-if="user.waitingForOTP">
					<div class="input-group">
						<input type="tel" class="form-control" placeholder="OTP" v-model.trim="user.otp"
							   v-on:keyup.enter="validateOTP()">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary" v-on:click="validateOTP()">Validate OTP
							</button>
						</div>
					</div>
				</div>
				<div class="mb-3" v-if="sendOTPSuccess">
					<div class="alert alert-success" role="alert">
						<small>{{ sendOTPSuccess }}</small>
					</div>
				</div>
				<div class="mb-3" v-if="otpError">
					<div class="alert alert-danger" role="alert">
						<small>{{ otpError }}</small>
					</div>
				</div>
			</div>

			<div v-if="isAuthenticated">
				<h4 class="align-items-center d-flex justify-content-between mb-3">
					<span class="text-muted">Hello !</span>
				</h4>
				<ul class="list-group mb-3">
					<li class="d-flex justify-content-between lh-condensed list-group-item">
						<div>
							<h6 class="my-0">{{ mobile }}</h6>
							<small class="text-muted" v-if="user.tokenExpiry">Expires in
								{{ user.tokenExpiry }}</small>
						</div>
						<div>
								<span class="btn btn-secondary btn-sm" v-bind:class=" "
									  v-on:click="logout()">Logout</span>
						</div>
					</li>
				</ul>
				<h6 class="align-items-center d-flex justify-content-between mb-3">
					<span class="text-muted">Beneficiaries ({{ selectedBeneficiaries.length || 0 }})</span>
				</h6>
				<ul class="list-group mb-3">
					<li class="d-flex justify-content-between lh-condensed list-group-item"
						v-for="beneficiary in beneficiaries">
						<div>
							<h6 class="my-0">{{ beneficiary.name }}</h6>
							<small class="text-muted">{{ beneficiary.gender }} {{ beneficiary.age }}
								({{ beneficiary.birth_year }}) D/{{ beneficiary.dose }}</small>
						</div>
						<div class="custom-checkbox custom-control">
							<input type="checkbox" class="custom-control-input"
								   v-bind:id="beneficiary.beneficiary_reference_id"
								   v-bind:value="beneficiary.beneficiary_reference_id"
								   v-model="selectedBeneficiaries">
							<label class="custom-control-label"
								   v-bind:for="beneficiary.beneficiary_reference_id"></label>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
</body>
</html>
