<!doctype html>
<html>
<head>
	<title>Oosi Podu rewards</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="babuit.gct@gmail.com">
	<link rel="shortcut icon" type="image/x-icon"
		  href="https://images.squarespace-cdn.com/content/v1/5dc6887f06a5ea221debae31/1575210747894-9A6NMNSSWCEIL44OUZOU/ke17ZwdGBToddI8pDm48kNjpXgdB2GQ4GXsvq_1og8aoCXeSvxnTEQmG4uwOsdIceAoHiyRoc52GMN5_2H8WpxXDtSN1slPP_rP6A6T3dFMmKRcoxufNhG74c8v5liKcWrggTE7sjdLCRC2ZnDBkWg/favicon.ico"/>

	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<link rel="stylesheet" href="style.css"/>
</head>

<body class="bg-light">


<div id="app" class="container">


	<div class="row">
		<div class="col-md-8 col-lg-8 col-sm-12 header-container">
			<img src="img/oosi-podu-rewards.png" class="img-fluid" />
			<div class="sub-heading">Verify Vaccine to Earn Rewards</div>
		</div>
	</div>

	<div class="row pt-5">
		<div class="col-md-3 col-lg-3 col-sm-12 text-center">
			<div v-if="!isAuthenticated">
				<div class="align-items-center d-flex justify-content-between mb-3">VERIFY WITH MOBILE NUMBER</div>
				<div class="mb-3" v-if="!user.waitingForOTP">
					<div class="input-group">
						<input type="tel" class="form-control mobile-number" placeholder="Mobile Number"
							   v-model.trim="mobile"
							   v-on:keyup.enter="sendOTP()">
						<div class="input-group">
							<button type="submit" class="btn btn-secondary get-otp-button" v-on:click="sendOTP()">Send
								OTP
							</button>
						</div>
					</div>
				</div>

				<div class="mb-3" v-if="sendOTPError">
					<div class="alert alert-danger" role="alert">
						<small>{{ sendOTPError }}</small>
					</div>
				</div>

				<div class="mb-3" v-if="user.waitingForOTP">
					<div class="mb-3">
						<div class="input-group">
							<input type="tel" class="form-control mobile-number" placeholder="OTP"
								   v-model.trim="user.otp"
								   v-on:keyup.enter="validateOTP()">
							<div class="input-group">
								<button type="submit" class="btn btn-secondary get-otp-button"
										v-on:click="validateOTP()">
									Validate OTP
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-3" v-if="sendOTPSuccess">
					<div class="alert alert-success" role="alert">
						<small>{{ sendOTPSuccess }}</small>
					</div>
				</div>
				<div class="mb-3" v-if="otpError">
					<div class="alert alert-danger" role="alert">
						<small>{{ otpError }}</small>
					</div>
				</div>
			</div>
		</div>

		<div class="row pt-5">
			<div class="col-md-7 col-lg-7 col-sm-12 text-center">
				<div v-if="isAuthenticated">
					<h4 class="align-items-center d-flex justify-content-between mb-3">
						<span class="text-muted">Hello !</span>
					</h4>
					<div>
						<ul class="list-group mb-3">
							<li class="d-flex justify-content-between lh-condensed list-group-item">
								<div>
									<h6 class="my-0">{{ mobile }}</h6>
									<small class="text-muted" v-if="user.tokenExpiry">Expires in
										{{ user.tokenExpiry }}</small>
								</div>
								<div>
								<span class="btn btn-secondary btn-sm"
									  v-on:click="logout()">Logout</span>
								</div>
							</li>
						</ul>
					</div>
					<div v-if="isFinishedProcess" class="pb-5">
						<div v-if="isAuthenticated && isVaccinated">
							<div class="card">
								<div class="card-body">
									<h3 class="card-title">Oosi Potta Oru Latcham</h3>
								</div>
								<p class="card-text">
									<span>Congratulations, you are enrolled for Lucky draw of 5L</span> Opted:
									{{user.dbUser.opt_in}}
								</p>
							</div>
						</div>
						<div v-else-if="isAuthenticated">
							<h5>
								<span>Oops, Please vaccinate to enjoy the rewards</span>
							</h5>
						</div>
					</div>
					<div v-if="coupons !== null">
						<div v-for="coupon in coupons" class="pb-4">
							<div class="card">
								<div class="card-body">
									<h3 class="card-title">{{coupon.name}}</h3>
								</div>
								<span class="card-text">
								{{coupon.caption}}
							</span>
								<span class="card-text">
								{{coupon.coupon_code}}
							</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-7 col-lg-7 col-sm-12 text-center text-muted text-small">
			<div class="footer-header">Avail Discounts from 50+ Businesses</div>

			<div class="footer-brand-row-1">
          <span>
            <img src="img/SS-Logo.png"/>
          </span>

				<span style="padding-left: 14px">
            <img src="img/kumaran.png"/>
          </span>
			</div>

			<div class="footer-brand-row-2">
          <span>
            <img src="img/pothys.png"/>
          </span>

				<span style="padding-left: 79px">
            <img src="img/pazhamudir.png"/>
          </span>
			</div>
		</div>
	</div>

	<footer class="my-5 pt-5 text-center text-muted text-small">
		<p class="mb-1">© Chennai Tricolor initiative
		</p>
	</footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin></script>

<script src="./main.js"></script>
<script src="./js/index.js"></script>
<script src="./js/api.js"></script>
</body>
</html>
