<!doctype html>
<html>
<head>
	<title>Oosi Podu rewards</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="babuit.gct@gmail.com">
	<link rel="shortcut icon" type="image/x-icon"
		  href="https://images.squarespace-cdn.com/content/v1/5dc6887f06a5ea221debae31/1575210747894-9A6NMNSSWCEIL44OUZOU/ke17ZwdGBToddI8pDm48kNjpXgdB2GQ4GXsvq_1og8aoCXeSvxnTEQmG4uwOsdIceAoHiyRoc52GMN5_2H8WpxXDtSN1slPP_rP6A6T3dFMmKRcoxufNhG74c8v5liKcWrggTE7sjdLCRC2ZnDBkWg/favicon.ico"/>

	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<link rel="stylesheet" href="style.css"/>
</head>

<body>


<div id="app" ref="content">
	<div class="container">
		<div class="row">
			<div class="header-container mx-auto">
				<img src="img/oosi-podu-rewards.png" class=" img-fluid mx-auto d-block main-logo"/>
				<div class="sub-heading">Verify Vaccine to Earn Rewards</div>
			</div>
		</div>

		<div class="row pt-4 pb-5">
			<div class="mx-auto">
				<div v-if="!isAuthenticated">

					<div class="mb-3" v-if="!user.waitingForOTP">
						<label for="phone" class="mb-1">VERIFY WITH MOBILE NUMBER</label>
						<div class="input-group input-group-lg">
							<input type="tel" class="form-control mobile-number input-lg" placeholder="Mobile Number"
								   v-model.trim="mobile"
								   v-on:keyup.enter="sendOTP()">
						</div>
						<div class="input-group">
							<button type="text" class="btn btn-secondary get-otp-button"
									v-on:click="sendOTP()">GET
								OTP
							</button>
						</div>
					</div>

					<div class="mb-3" v-if="sendOTPError">
						<div class="alert alert-danger" role="alert">
							<small>{{ sendOTPError }}</small>
						</div>
					</div>

					<div class="mb-3" v-if="user.waitingForOTP">
						<div class="justify-content-between mb-3">ENTER OTP</div>
						<div class="mb-3">
							<div class="input-group">
								<input type="tel" class="form-control mobile-number" placeholder="OTP"
									   v-model.trim="user.otp"
									   v-on:keyup.enter="validateOTP()">
								<div class="input-group">
									<button type="submit" class="btn btn-secondary get-otp-button"
											v-on:click="validateOTP()">
										VERIFY AND PROCEED
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="mb-3" v-if="sendOTPSuccess">
						<div class="alert alert-success" role="alert">
							<small>{{ sendOTPSuccess }}</small>
						</div>
						<div style="background-color: #EBEBEB" class="text-center">We do not store any confidential
							information. We use your mobile number only to check
							your vaccination status in the CoWin platform.
						</div>
					</div>
					<div class="mb-3" v-if="otpError">
						<div class="alert alert-danger" role="alert">
							<small>{{ otpError }}</small>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="text-center mx-auto">
				<div v-if="isAuthenticated">
					<h4 class="align-items-center d-flex justify-content-between mb-3">
						<span class="text-muted">Hello
							<span v-if="isFinishedProcess">{{ user.name }}</span>!
						</span>
					</h4>
					<div>
						<ul class="list-group mb-3">
							<li class="d-flex justify-content-between lh-condensed list-group-item">
								<div>
									<h6 class="my-0">{{ mobile }}</h6>
									<span class="ml-1">
										<small class="text-muted" v-if="user.tokenExpiry">expires in
										{{ user.tokenExpiry }}</small>
									</span>
								</div>
								<div>
									<span class="btn btn-secondary btn-sm"
										  v-on:click="logout()">Logout</span>
								</div>
							</li>
						</ul>
					</div>
					<div v-if="isFinishedProcess" class="pb-1">
						<div v-if="isAuthenticated && isVaccinated" class="pb-5">
							<p class="vaccinatedPanel"> You are awesome for being vaccinated. These are just for
								you!</p>
							<div class="card contest d-none">
								<div class="card-body">
									<h3 class="card-title">Oosi Podu Contest</h3>
								</div>
								<div class="card-text">
									<!--								TODO: See if conditional rending can be done-->
									<div class="d-none" id="optedIn">
										<span>You are added to a contest where you have a chance to win exciting prizes</span>
										<div class="pt-3 mb-2">
											<a class="opt-link" href="#" @click="optOut()">Click here to opt out</a>
										</div>
									</div>
									<div class="d-none" id="optedOut">
										<span>Get a chance to win exciting prizes</span>
										<div class="pt-3 mb-2">
											<btn class="btn btn-primary" href="#"
												 @click="optIn()">ENTER CONTEST
											</btn>
										</div>
									</div>
									<div class="card-footer">
										View more details
									</div>
								</div>
							</div>
						</div>
						<div v-else-if="isAuthenticated" class="verification-failed mt-5">
							<p class="h4">Verification Failed</p>
							<div class="mt-4 pb-4">
								Hi, We couldn't verify that you are vaccinated. Please get vaccinated
								soon. If you're already vaccinated, it might take
								some time for the status to get updated in the CoWin portal. Please try again after
								sometime.
							</div>
						</div>

						<div v-if="coupons !== null">
							<div class="card-columns">
								<div v-for="coupon in coupons" class="pb-4">
									<div class="card" v-bind:id="coupon.store">
										<!--								<img :src="getImgUrl(coupon)" v-bind:alt="pic" />-->
										<img v-bind:src="'./img/' + coupon.store + '.png'"
											 class="img-fluid mx-auto d-block mt-2">
										<!--								<img src="url:./img/kumaran.png"/>-->
										<div class="card-body">
											{{ coupon.caption }}
											<div class="input-group mx-auto d-block mt-3">
												<button type="button" class="btn btn-outline-primary btn-lg"
														id="btnCoupon"
														v-on:click="getCouponCode(coupon)">
													COLLECT COUPON
												</button>
											</div>
										</div>

										<div class="card-footer">View more details
											<i class="bi bi-arrow-down"></i>
										</div>
										<div class="metadata d-none" >
											${{ coupon.metadata }}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="logo-container"
				 v-if="!isFinishedProcess || (isFinishedProcess && isAuthenticated && isVaccinated)">
				<div class="footer-header">Avail discounts from responsible Brands</div>

				<div class="logo-list">
					<img src="img/branda.png" class="img-fluid"/>

					<img src="img/brandb.png" class="img-fluid"/>

					<img src="img/brandc.png" class="img-fluid"/>

					<img src="img/brandd.png" class="img-fluid"/>
				</div>
			</div>
			<!--	<footer class="my-5 pt-2 text-center text-muted text-small">-->
			<!--		</p>-->
			<!--	</footer>-->
		</div>

		<div class="row footer-image__wrap">
			<img src="img/poster.png" alt="placeholder 960" class="img-fluid w-100"/>
		</div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<script src="./main.js"></script>
<script src="./js/index.js"></script>
<script src="./js/api.js"></script>
</body>
</html>
