a, .btn-link {
	color: #00AEEF !important;
}

@font-face {
	font-family: SegoeFont;
	src: url('font/Segoe-UI-Font/SEGOEUI.TTF');
}

@font-face {
	font-family: SegoeFont;
	src: url(font/Segoe-UI-Font/SegoeUIBold.ttf);
	font-weight: bold;
  }

html * {
	font-size: 1em;
	font-family: SegoeFont;
}

body {
	overflow-x: hidden;
	color: #414141;
	background-color: #F9F9F9;
}

@media only screen and (min-width: 500px) {
	.container {
		max-width: 375px;
	}
}

.header-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 1;
	height: 160px;
	position: relative;
	z-index: 1;
	border-radius: 0 0 50px 50px;
	overflow: hidden;
}

.main-logo {
	height: 60px;
	margin-bottom: -8px;
}

.header-container::before {
	display: block;
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	background: #00AEEF;
	height: 250px;
	width: 105%;
	z-index: -1;
	margin: 0 -10px;
	border-radius: 0 0 100% 100%;
}

.header-panel {
	padding-top: 10%;
	padding-left: 10%;
	background: transparent url('img/oosi-podu-rewards.png') no-repeat;
}

.sub-heading {
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0px;
	color: #FFF200;
	opacity: 1;
}

.awesome-icon-container {
	padding-top: 19px;
	padding-left: 19px;
	width: 35px;
	height: 35px;
}

.verification-failed {
	text-align: start;
}

.vaccinatedPanel {
	text-align: left;
}

.switch {
	position: relative;
	display: inline;
	width: 44px;
	height: 22px;
}

.mobile-number {
	border-color: #00aeef !important;
	border: 2px solid;
	font-size: 18px !important;
	border-radius: 7px !important;
	padding: 15px 10px !important;
	border-radius: 8px;
}

.mobile-number::placeholder {
	color: #7A7A7A !important;
	font-size: 18px;
	opacity: 1; /* Firefox */
}

.mobile-number:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: #7A7A7A !important;
	font-size: 18px;
}

.mobile-number::-ms-input-placeholder { /* Microsoft Edge */
	color: #7A7A7A !important;
	font-size: 18px;
}

::placeholder {
	color: #c2c2c2;
	font-size: 22px;
}

.get-otp-button {
	width: 100%;
	margin-top: 20px;
	text-transform: uppercase;
	padding: 10px 5px;
	border-radius: 8px;
	font-weight: 600;
	box-shadow: 0px 3px 6px #00000029;
	letter-spacing: 2px;
}

.or-intermidiate {
	padding-top: 29px;
	align-self: center;
	width: 20px;
	height: 30px;
	font-size: 22px;
	color: #989898;
}

.contest .card-title {
	font-size: calc(1.275rem + .3vw);
}

.card {
	box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.26);
	border-radius: 10px;
	overflow: hidden;
	text-align: center;
	padding: 15px;
}

.card-body {
	padding: initial;
}

.btn-custom {
	border-color: #00AEEF;
	letter-spacing: 1px;
	color: #00AEEF;
	box-shadow: 0px 0px 10px #00000029;
	width: 100%;
}

.btn-custom:hover {
	color: #00AEEF;	
}

.card-body__copy {
	font-size: 18px;
}

.card-body + .card-footer {
	margin-top: 15px;
}

.card-brand__logo {
	width: 60%;
	margin: 0 auto;
}

.card-footer {
	background-color: white;
	border-top: 1px dotted #00000029;
	color: #848484;
	cursor: pointer;
	padding-bottom: 0;
}

.metadata {
	padding-top: 10px;
}

.opt-link {
	text-decoration: none;
}

.get-qr-button {
	width: 100%;
	background-color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	color: #00aeef;
	text-transform: uppercase;
	border-color: #00aeef;
	border-radius: 8px;
	padding: 12px;
}

.logo-container {
	background-color: #fff;
	padding-top: 40px;
}

.logo-list {
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
	padding: 20px 10px;
	grid-gap: 20px;	
}

.logo-list__item {
	margin: auto;
	max-width: 80px;
}

.logo-list .logo-list__item:nth-child(1) {
	max-width: 80px;	
}

.logo-list .logo-list__item:nth-child(2) {
	max-width: 75px;	
}

.logo-list .logo-list__item:nth-child(3) {
	max-width: 120px;
}

.logo-list .logo-list__item:nth-child(4) {
	max-width: 85px;
}

.footer-container {
	height: 200px;
	background-color: #FFFFFF;

}

.footer-header {
	color: #707070;
	font-weight: bold;
	text-align: center;
	font-size: 19px;
	margin-bottom: 10px;
}

.footer-brand-row-1 {
	padding-top: 22px;
	padding-left: 21px
}

.footer-brand-row-2 {
	padding-top: 15px;
	padding-left: 67px
}

.footer-image__wrap > img {
	background-color: #fff;
	padding: 0;
}

.box {
	padding-bottom: 20px;
}

.btn-link {
	text-decoration: initial !important;
}

.verification-heading {
	display: flex;
	align-items: center;
}

.verification-heading .verification-warn-icon {	
	width: 21px;
	height: auto;
	margin-left: 5px;
}