body {
	font: normal normal 600 16px/21px Segoe UI;
}

.header-container {
	background: #00AEEF 0% 0% no-repeat padding-box;
	opacity: 1;
	/* border-bottom-left-radius: 50% 55%;
	border-bottom-right-radius: 50% 55%; */
}

.header-panel {
	padding-top: 10%;
	padding-left: 10%;
	background: transparent url('img/oosi-podu-rewards.png') no-repeat;
}

.sub-heading {
	text-align: center;
	font-weight: bold;
	font: normal normal bold 16px/21px Segoe UI;
	letter-spacing: 0px;
	color: #FFF200;
	opacity: 1;
}

.awesome-icon-container {
	padding-top: 19px;
	padding-left: 19px;
	width: 35px;
	height: 35px;
}

.switch {
	position: relative;
	display: inline;
	width: 44px;
	height: 22px;
}

.mobile-number {
	border-color: #00aeef !important;
	border: 2px solid;
	font-size: 20px;
	border-radius: 7px !important;
}

::placeholder {
	color: #c2c2c2;
	font-size: 22px;
}

.get-otp-button {
	height: 50px;
	width: 354px;
	margin-top: 20px;
	text-transform: uppercase;
}

.or-intermidiate {
	padding-top: 29px;
	align-self: center;
	width: 20px;
	height: 30px;
	font-size: 22px;
	color: #989898;
}

.get-qr-button {
	height: 77px;
	width: 354px;
	background-color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	color: #00aeef;
	text-transform: uppercase;
	border-color: #00aeef;
	border-radius: 8px;

}

.footer-container {
	height: 200px;
	background-color: #FFFFFF;

}

.footer-header {
	padding-top: 35px;
	padding-left: 25px;
	color: #707070;
	font-weight: bold;
	text-align: center;
	font-size: 20px;

}

.footer-brand-row-1 {
	padding-top: 22px;
	padding-left: 21px
}

.footer-brand-row-2 {
	padding-top: 15px;
	padding-left: 67px
}
